.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E3A8A; /* Blue theme color */
    color: #ecf0f1;
    padding: 10px 20px;
    height: 60px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .navbar-title {
    margin-left: 10px;
    font-size: 1.5rem;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-search {
    padding: 5px;
    margin-right: 20px;
    border-radius: 5px;
    border: none;
  }
  
  .navbar-icons {
    display: flex;
    align-items: center;
  }
  
  .navbar-icon {
    margin-left: 20px;
    cursor: pointer;
  }
  
  .navbar-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar-search {
      display: none;
    }
  
    .navbar-toggle {
      display: block;
    }
  }
  