.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.RegisterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.RegisterCard {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.RegisterForm {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LogoContainer {
  text-align: center;
  margin-bottom: 20px;
}

.Logo {
  width: 100px;
  height: auto;
}

.RegisterForm input,
.RegisterForm select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.RegisterForm button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.RegisterForm button:hover {
  background-color: #0056b3;
}

.Links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.RegisterImage {
  flex: 1;
  background-image: url('/src/assets/luxurylogo.jpeg');
  background-size: cover;
}
